**/target
python/day01/__pycache__/
python/day01/lib/python3.9
2021/advent/.clj-kondo/.cache/*
2021/advent/.lsp/.cache/*
2023/*.input
2023/*.input1
2023/*.input2
2022/ocaml/_build
2023/perf-report.html
2023/.byebug_history
2023/field
2023/bun.lockb
2015/gleamm/inputs
2024/*.input
2024/aoc/inputs/*.input
2024/aoc/inputs/day15.example
2015/ruby/sorbet
2015/ruby/inputs
2015/ruby/bin
2016/aoc/inputs
2017/.zig-cache
2017/inputs
2015/gleamm/input
2018/input
2019/python/inputs
2020/rust/inputs
2025/aoc_rust/inputs/*
2022/fp-ts/node_modules
2025/aoc25/inputs
2025/clojure/inputs
