**/target
python/day01/__pycache__/
python/day01/lib/python3.9
2021/advent/.clj-kondo/.cache/*
2021/advent/.lsp/.cache/*
2023/*.input
2023/*.input1
2023/*.input2
2022/ocaml/_build
2023/perf-report.html
2023/.byebug_history
2023/field
2023/bun.lockb
2015/gleamm/inputs
2024/*.input
2024/aoc/inputs/*.input
